@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page {
  padding: 40px 0;
  min-height: calc(100vh - $navbar-height - $footer-height);
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @include below-desktop {
    grid-template-columns: 1fr;
  }
}
