@use '../../../styles/variables' as *;

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: $text-white;
}

.description {
  max-width: 768px;
  padding-top: 4px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.25px;
  color: $nav-inactive;
}
